{% extends "1.html" %}
{% block content %}
<meta charset="UTF-8">
<h2 align="center">Оформление каюты</h2>
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td bgcolor="#dddddd" align="center">Цвет</td>
            <td bgcolor="#dddddd" align="center">Картинка</td>
        </tr>
        <tr class="my_row">
            {% if p == 'female' %}
            <td bgcolor="#FFC0CB" style="width: 300px;"></td>

            {% if age > 21 %}
            <td><img src="/static/img/adult.jpg" alt="Фото"></td>
            {% elif age <= 21 %}
            <td><img src="/static/img/ch.jpg" alt="Фото"></td>
            {% endif %}

            {% elif p == 'male' %}
            <td bgcolor="#42AAFF" style="width: 300px;"></td>

            {% if age > 21 %}
            <td><img src="/static/img/adult.jpg" alt="Фото"></td>
            {% elif age <= 21 %}
            <td><img src="/static/img/ch.jpg" alt="Фото"></td>
            {% endif %}

            {% else %}
            <td>ERROR</td>
            <td></td>
            {% endif %}
        </tr>
    </table>
</div>
{% endblock %}